.skillsCont {
    margin: 0 auto;
    width: 80vw;
    /* height: 580vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(178, 178, 178);
    box-shadow: 4px 4px rgb(235, 238, 255);
}

.iconCont {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 20px;
    background: rgb(219,226,255);
    box-shadow: 4px 4px rgb(235, 238, 255);
}
.iconContWide {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 57vw;
    height: 300px;
    margin: 80px;
    background: rgb(219,226,255);
    box-shadow: 4px 4px rgb(235, 238, 255);
}

.skillLogoResExtra {
    /* margin: 0 auto; */
    width: 300px;
}
.skillLogoRes {
    /* margin: 0 auto; */
    width: 200px;
}