@import url('https://fonts.googleapis.com/css?family=Anton|Cabin|Dosis|Indie+Flower|PT+Sans+Narrow|Playfair+Display|Song+Myung');

.App {
  font-family: 'Dosis', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}