
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: rgba(255, 188, 165, 1); */
  
  
  /* background: rgba(69, 178, 50, 1); */
  background: linear-gradient(to right, rgba(69, 178, 50, 1), rgba(179, 255, 165, 1), rgba(117, 255, 93, 1));
  
  

  /* color: rgba(178,72,37,1); */


  /* color: rgba(178, 133, 165,1); */


  /* color: rgba(255, 115, 215,1); */


}
